.login-area {
  width: 400px ;
  margin: 40px auto;
}
.list-area {
  width: 97%;
  max-width: 100%;
  min-width: 300px;
  margin: 10px;　
  line-height: 1.7;
}
.free-area {
  width: 95%;
  max-width: 100%;
  min-width: 300px;
  margin: 10px;　
  line-height: 1.7;
}
body {
    background-color: #D7EEFF;


}

header {
width: auto;
height:50px;
margin:0 auto 15px;
padding-top:10px;
padding-right:20px;
background-color: #777777;
}

.wrapper {
  overflow: hidden;
}
.main {
  float: left;
  width: 100%;
  margin-right: -100px;
  padding-right: 100px;
  box-sizing: border-box;
}
.side {
  float: right;
  width: 100px;
}

table {
  text-align: center;
}
th {
  background: linear-gradient(white, gray);
}
.newuser-area {
  width: 90%;
  max-width: 100%;
  min-width: 300px;
  margin: 25px;　
  line-height: 1.7;

}
.delete-area {
  width: 90%;
  max-width: 100%;
  min-width: 300px;
  margin: 25px;　
  line-height: 1.7;
}
